$main-color: #2f80ed;
.cards_wrap {
	max-width: 100%;

	button {
		cursor: pointer;
		padding: 15px;
		background-color: $main-color;
		color: #fff;
		margin: 0 10px 10px;
		text-transform: uppercase;

		&:hover {
			box-shadow: 0 0 10px $main-color;
		}
	}
}

.cards {
	grid-column: 7 / 13;
	grid-row: 1 / 2;
	column-gap: 30px;
	display: flex;
	/*grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));*/ /*Автозаполнение*/
	/*grid-auto-rows: 1fr;*/
	justify-self: stretch;
	margin-bottom: 20px;
	padding: 0 15px 0;
	max-width: 100%;
	flex-wrap: wrap;
	margin-top: 20px;
}

@media (max-width: 800px) {
	.content_row3 {
		.cards_wrap {
			max-width: 100%;
		}
		.cards {
			max-width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
	}
}
