nav {
	padding-right: 120px;
	& ul {
		display: flex;
	}
}

ul {
	list-style-type: none;
}

li {
	a {
		color: #fff;
		text-decoration: none;
		margin-right: 70px;
	}
}

a {
	&:hover {
		text-decoration: underline;
	}
}
