*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 1280px;
}

/*=================*/
/*===== HEADER=====*/
/*=================*/
header {
	display: flex;
	height: 80px;
	background-color: #56ccf2;
}

header {
	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 20px;
	}
}

nav {
	padding-right: 120px;
	& ul {
		display: flex;
	}
}

ul {
	list-style-type: none;
}

li {
	a {
		color: #fff;
		text-decoration: none;
		padding-right: 70px;
	}
}

a {
	&:hover {
		text-decoration: underline;
	}
}

.client {
	display: flex;

	& span {
		color: #fff;
		padding-right: 20px;
		vertical-align: middle;
		align-self: center;
	}

	img {
		width: 50px;
		border-radius: 50%;
	}
}

.logo {
	color: #fff;
	font-size: 24px;
}

/*================*/
/*===== TABS =====*/
/*================*/
.tabs {
	background-color: #2d9cdb;

	& .container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 0 auto;
	}
}

.tabs_item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 120px;
	cursor: pointer;

	& .fas {
		font-size: 50px;
		color: #fff;
	}
	&.active {
		background-color: #2f80ed;
		border-bottom: 8px solid #fff;
	}

	& span {
		color: #fff;
	}

	&:hover {
		background-color: #2f80ed;
		border-bottom: 8px solid #fff;
	}
}

.hamburger {
	display: none;
}

/*=================*/
/*===== MEDIA =====*/
/*=================*/
@media (min-width: 1280px) {
	header {
		& .container {
			padding: 0;
		}
	}
}

@media (max-width: 1279px) {
	header {
		& .container {
			padding: 0 25px;
		}
	}
}

@media (max-width: 1150px) {
	nav {
		padding-right: 0;
	}

	li {
		a {
			padding-right: 50px;
		}
	}
}

@media (max-width: 940px) {
	header {
		& .container {
			display: flex;
			justify-content: start;
		}
	}

	.client {
		margin: 0 0 0 auto;
	}

	nav {
		display: none;
	}

	.hamburger {
		display: flex;
		height: 40px;
		cursor: pointer;
		padding-right: 36px;
	}

	.hamburger_layer {
		display: block;
		margin: auto;
		width: 40px;
		background-color: #fff;
		height: 4px;
		border-radius: 3px;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			display: block;
			background-color: #fff;
			width: 100%;
			height: 4px;
			border: 1px solid #fff;
			border-radius: 3px;
		}

		&::before {
			transform: translateY(9px);
		}

		&::after {
			transform: translateY(-13px);
		}
	}
}

@media (max-width: 600px) {
	.logo {
		font-size: 16px;
	}

	.tabs_item {
		& .fas {
			font-size: 30px;
		}
	}

	.client {
		& span {
			display: none;
		}
	}
}

@media (max-width: 370px) {
	.tabs_item {
		span {
			display: none;
		}
	}

	.client {
		img {
			display: none;
		}
	}
}
